#Do not ignore these...
/*
!.gitignore
!wp-content

#Ignore these...
wp-content/themes/littlecourt2018/node_modules
wp-content/themes/littlecourt2018/yarn-error.log
wp-content/uploads
wp-content/themes/littlecourt2018/.env